* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

.inner {
  width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #000;
}
.logo {
  margin: 0;
  height: 100%;
  line-height: 60px;
}
nav {
  height: 100%;
  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    list-style: none;
    padding: 0 20px;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #444;
  }
}
section {
  padding-top: 100px;
  background: linear-gradient(rgb(255, 189, 189), rgb(255, 217, 112));
}
.genre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.movie {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  max-height: 350px;
  padding: 20px;
  margin-bottom: 50px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 15px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.03);

  img {
    height: 310px;
    margin-right: 30px;
  }
  .text {
    width: 65%;
    height: 240px;
    padding-right: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  h2 {
    margin-top: 0;
  }
  a {
    color: #444;
    text-decoration: none;
  }
  ul {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    bottom: 20px;
  }
  li {
    padding-right: 20px;
  }
}
